<head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<center>
    <div>
        <button type="button" onclick="location.href='/finaid'" class="mdc-button mdc-button--outlined">Financial Aid</button>
        <button type="button" onclick="location.href='/helpme'" class="mdc-button mdc-button--outlined">Help Me</button>
        <button type="button" onclick="location.href='/schoolfind'" class="mdc-button mdc-button--outlined"> Find a School</button>
        <button type="button" onclick="location.href='/stdtest'" class="mdc-button mdc-button--outlined">Standard Testing</button>
        <button type="button" onclick="location.href='/timeline'" class="mdc-button mdc-button--outlined">Timeline</button>
    </div>

    <div>
        <p class="mdc-typography">Already have an account? Click here to login.</p>
    </div>

    
</center>

